@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
html {
    font-size: 18px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Akaya Kanadaka', cursive; /* this should be the rest of the output you got from Google fonts */
    background-color: #0d101e;
    color: white;
  }

  h1 {
    color: #0d101e;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 5px white;
  }

  p, li {
    line-height: 1;
    letter-spacing:0.01px;
  }

  #para1
{
    background-color: violet;
    width: 475px;
    color: black;
    padding: 15px;
    border: black dashed 2px;
    margin: 45px;
}

body
{
  width: 600px;
  margin: 0 auto;
  background-color: #181f3f ;
  padding: 0 20px 20px 20px;
  /* border: 5px solid black; */
  /* text-align: center; */
}

img {
  display: block;
  margin: 0 auto;
}

h2
{
  text-align: center;
}