@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
body
{
    background-color: rgb(26, 6, 46);
    color: white;
    /* text-align: center; */
    font-family: 'Akaya Kanadaka', cursive;
}
#para1
{
    background-color: violet;
    width: 475px;
    color: black;
    padding: 15px;
    border: black dashed 10px;
}
#para2
{
    background-color: cornflowerblue;
    width: 300px;
    color: black;
    padding: 15px;
}

.samecolor1
{
    color: chartreuse;
}


.samecolor2
{
    color: cornsilk;
}

ul:hover
{
   background-color: aqua; 
}